@import url(global.css);

/* Keyframes for animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.main-section {
    position: relative;
    background: url('./assets/trail2.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 20px;
    color: #fff;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.h2 {
    font-size: 24px;
    animation: fadeIn 2s ease-in-out;
}

p {
    font-size: 14px;
    animation: fadeIn 2s ease-in-out;
}

.intro, .trail-description {
    position: relative;
    padding: 20px;
    border-radius: 50%;
    width: 25%;
    height: 300px;
    margin: 20px auto;
    z-index: 1000;
    animation: slideUp 1.5s ease-in-out;
}

.trail-description::before, .intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6d6e69;
    filter: blur(35px);
    z-index: -1;
    border-radius: 50%;
    animation: pulse 3s infinite;
}

.intro::before {
    filter: blur(40px);
}

.intro h2, .intro p, .trail-description h3, .trail-description p {
    margin: 0;
    padding: 20px;
    z-index: 100;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    font-size: 15px;
    line-height: 1.5;
}

.details > div {
    position: relative;
    background-color: #495543;
    padding: 20px;
    border-radius: 15px;
    width: 20%;
    margin: 10px;
    animation: fadeIn 2s ease-in-out;
}

.map-section {
    padding: 20px;
    text-align: center;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
}

.map-section iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: 2px solid #fff;
    border-radius: 10px;
    animation: slideUp 1.5s ease-in-out;
}

.image-gallery {
    padding: 20px;
    background-color: #A8AAA0;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    animation: fadeIn 2s ease-in-out;
}

.image-gallery .gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.image-gallery .gallery img {
    margin: 15px;
    width: auto;
    height: 200px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

h3 {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .intro, .trail-description {
        width: 30%;
        height: 250px;
    }

    .details > div {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .intro, .trail-description {
        width: 40%;
        height: 200px;
    }

    .details > div {
        width: 40%;
    }

    .map-section img {
        width: 90%;
    }

    h3 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .intro, .trail-description {
        width: 50%;
        height: 200px;
    }

    .details > div {
        width: 45%;
    }

    .image-gallery .gallery img {
        height: 150px;
    }

    p {
        font-size: 10px;
    }

    h2 {
        font-size: 18px;
        padding: 0px;
    }
}

@media (max-width: 576px) {
    .intro, .trail-description {
        width: 80%;
        height: 150px;
    }

    .details > div {
        width: 90%;
    }

    .map-section img {
        width: 100%;
    }

    .image-gallery .gallery img {
        height: 100px;
    }
}


  
  .book-tour button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  .book-tour button:hover {
    background-color: #2a502a;
  }
  
